.contenedor {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #212529;
    border-width: medium;
    border-radius: calc(.75rem - 1px);
}

.input-group-text {
    min-width: 95px;
}

.w100p {
    width: 100%;
}

.widthMedio {
    width: 48%;
}
