.contenedor {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

table {
    width: 100%;
}

table tr td {
    width: 50%;
    text-align: center;
}

a {
    font-size: 0.85rem;
    text-decoration: underline;
}